<footer class="footer" style="border-top: 0.5px solid rgb(184, 184, 184)">
    <style>
    li{
      font-weight:100;
      color:rgb(184, 181, 181);
    }
    </style>
    <div class="container-fluid" style="background-color:black; position: fixed-bottom;">
    <div class="container" style="padding-top:20px;">
    <div class="row">
    <div class="col">
    
      <h6>Haraka</h6>
      <ul class="list-unstyled">
        <li>Home</li>
        <li>Kipi kipya</li>
        <li>Huduma</li>
        <li>Account yangu</li>
        <li>Subscribe</li>
      </ul>
      </div>
      <div class="col">
      <h6>Information</h6>
      <ul class="list-unstyled" style="font-weight:100">
        <li>Patrtnership</li>
        <li>About Us</li>
        <li>Jobs</li>
        <li>Press info</li>
        <li>Contacts</li>
      </ul>
      </div>
      <div class="col">
      <h6>Tufuate</h6>
      <ul class="list-unstyled" style="font-weight:100">
        <li><i class="fab fa-linkedin fa-1x"> </i> LinkedIn</li>
        <li> <i class="fa fa-facebook-square fa-1x" > </i> Facebook</li>
        <li> <i class="fa fa-instagram fa-1x"> </i> Instagram</li>
        <li><i class="fab fa-twitter-square fa-1x"> </i> Twitter</li>
        <li> <i class="fab fa-youtube fa-1x"> </i> Youtube</li>
      </ul>
      </div>
      <div class="col">
    <h6> Tulipo</h6>
    <address style="color:rgb(111, 111, 111)">
      <strong>Tanzania</strong>
      Po Box , 171,<br> 
      Musoma , Mara,<br>
    </address>
    <ul class="list-inline">
      <li class="list-inline-item">All rights reserved</li>
      <li class="list-inline-item">Terms of use and privacy</li>
      <li class="list-inline-item" ><a href="" data-toggle="model" data-target="#modal">Term of use and privacy policy</a></li>
    
    
    </ul>
    </div>
    </div>
    </div>
    </div>
    </footer>
  